node_modules/
karvfan-android-student/app/build/
karvfan-android-student/build/
karvfan-android-student/.gradle/
karvfan-android-student/local.properties
karvfan-android-teacher/app/build/
karvfan-android-teacher/build/
karvfan-android-teacher/.gradle/
karvfan-android-teacher/local.properties
*.log
www/
www-student/
www-teacher/
admin-desktop/dist/
admin-desktop/node_modules/
